
h2{
    text-align: center;
}

 h2:hover{
    color: red;
    font-weight: bold;

}

.card-head:hover{
    cursor: pointer;
   color: rgb(165, 93, 93);
}


.product-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

.product-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-name{
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.addtocart{
   
    align-items: center;
    justify-content: center;
    vertical-align: center;
}



 .collection-component{
    gap:2rem;
    align-items: center;
    justify-content: center;
 }

 .wishlistIcon {
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 15px;
    right: 25px;
    
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    cursor: pointer;
    color:#fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pb-2 {
    padding-bottom: 0.5rem!important;
}

.pr-1 {
    padding-right: 0.15rem!important;
}

.wishlistIcon:before {
    font: 14px FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
   content: "\F08A";
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

 .wishlist:after{
    font: 14px fontAwesome;
    color: red;
    background-color: red; 
}
