.product-cart{

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid gray;
    justify-content: center;
    align-items: center;

}

.favorate-component{
     align-items: center;
     justify-content: center;
}

.Cart-item img{
    width: 200px;
}

.product-Item-cart{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    margin-top: 2rem;

}

 .cart-product-price {
    font-size: 22px;
    font-weight: bold;
}

.product-name{
    font-size: 22px;
    font-weight: bold;
}

.empty-cart-product {
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    text-align: center;
    margin-top:5rem;
}

.cart-para{
    font-weight: bold;
    font-size: 4rem;
}

.continue-shoping{
    background-color: aquamarine;
    color: white;
}

 span p{
    display: flex;
    flex-direction: row;
}

.cart-para-btn{
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 2rem;
    font-weight: bold;
    background-color: rgb(231, 215, 215);
    color: #494646;


}

.check-out-btn,.check-out-btn:hover{
    color: #000;
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    border-radius: 0.5rem;
    width: 150px;
    font-weight: bold;
    font-size: 1.2rem;
    border-color: rgb(252, 86, 86);
   font-family: 'Times New Roman', Times, serif;
}

.add-to-wishlist,.add-to-wishlist:hover{
    border-radius: 0.5rem;
    /* padding: 0.5rem; */
    cursor: pointer;
    background-color: rgb(246, 247, 248);
    color: #000;
    border-color: red;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
@media screen and (max-width:760px){


    .product-Item-cart{
        display: flex;
        flex-direction:column;
        text-align: center;
         gap: 1rem;
         box-sizing: border-box;
            justify-content: center;
            align-items: center;
    }

    .product-cart{
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
    }

    .product-cart-container-price{
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 3rem;
    }

    .Cart-item img{
    width: 300px;
   }
    
}

@media screen and (max-width:467px){
    .product-Item-cart{
        display: flex;
        flex-direction:column;
        text-align: center;
         gap: 1rem;
         box-sizing: border-box;

    }

    .product-cart{
        display: flex;
        flex-direction: column;
    }

    .product-cart-container-price{
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 3rem;
    }

    .Cart-item img{
    width: 300px;
   }
}
