/* mid collections */

#collection {
    /* border: 1px solid; */
    padding: 1rem;
    margin: 1rem 0;
}

.collection-heading {
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.collection-heading:hover{
    color: red;
}
#collection-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
   gap: 1rem;
  
}

.collection-img-card-div img {
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.collection-img-card-div img:hover {
    animation: modal-animation 0.5s ease-in-out forwards;
    transform: translateY(-3px);
    cursor: pointer;
}

@keyframes modal-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.8
    }
}


div.scroll-container {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
  }
  
  div.scroll-container img{
    padding: 10px;
  }

  div.scroll-container :hover{
    transform: translateY(-3px);
  }
 

 
#category-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem; 
     cursor: pointer;
}

.category-img-card-div {
    padding: 0.5rem;
   
} 

.category-img-card-div img {
    width: 100%;
 
} 

.category-img-card-div img:hover {
    transform: translateY(-3px);
 
} 
.category2,
#OFFICIAL-MERCHANDISE {
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
    margin: 0;
    cursor: pointer;
}

.category2 img,
#OFFICIAL-MERCHANDISE img {
    display: block;
    margin: auto;
    width: 98%;
}

.category2 img:hover{
    opacity: 0.8;
    width: 100%;
   overflow: hidden;
}

#OFFICIAL-MERCHANDISE  img:hover{
    opacity: 0.5;
    width: 100%;
    overflow: hidden;
}

/* sarah - poster and below banner*/
.saradiv-poster {
    margin: 2rem 0;
}

.saradiv-poster img {
    width: 100%;
}
