



.Single-productItem-component{
    display: grid; 
     grid-template-columns: repeat(2,1fr);
    gap: 3rem;
     margin-right: 10px;
    

}

.card-product-img img{
    width: 380px;
    height: auto;
    margin-right: 2rem;
   padding-left: 10px;
    

}

@media screen and(max-width:667) {
     
      
}




h1{
    text-align: center;
}
h1:hover{
    color:red;
}

h5{
    font-weight: bold;
    font-size: 1.4rem;

}

h5:hover{
    color: #a25255;
}

.price-line{
    border:1px solid rgb(180, 165, 165);
    bottom: 5rem;
}

.product-price{
    font-size: 1.2rem;

}

.product-size{
    font-size: 1.1rem;
}
.product-size ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 2rem;
    cursor: pointer;
    
}

.product-size ul li{
    border: 1px solid gray;
    border-radius: 100px;
    size: 1.2rem;
    width: 3rem;
    text-align:center;
    justify-content: center;
    font-weight: bold;


}
.product-size ul li:hover{
    border-color: red;
    color: #15728a;
}

.product-brand,label,.product-description,.product-detail{
    font-size: 1.1rem;
}

.product-size ul li.active {
    border-color: red;
    color: #15728a;
}

.head{
    font-weight: bold;
   
}

#quantity{
    cursor:pointer;
}

 .add-cart{
    margin-top: 10px;
    display: flex;
     justify-content: space-evenly
 }

 .button{
    height: 2.9rem;
    color: black;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow: none;
    background-color: red;
    
 }

 button:hover{
    color: rgb(243, 236, 236);
 }

.body-des{
    margin-left: 2rem;
 }

 .btn-cart{
    background-color: rgb(233, 39, 39);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    width: 200px;
 }
 
 .btn-wish,.btn-wish:hover{
    background-color: #fff;
    color: #333;
    border-radius: 0.5rem;
    border-color: #f52229;
 }

 .add-cart{
   padding: 10px;
 }
 @media only screen and (max-width:700px) {
    .Single-productItem-component{
        display: flex;
       flex-direction: column;
       text-align: center;
        gap: 1rem;
        /* box-sizing: border-box; */

    }

    .btn-cart{
        background-color: rgb(233, 39, 39);
        border-radius: 0.5rem;
        cursor: pointer;
        border: none;
        width: 100%;
        padding: 1rem;
     }
     
     .btn-wish,.btn-wish:hover{
        background-color: #fff;
        color: #333;
        border-radius: 0.5rem;
        border-color: #f52229;
        width: 100%;
        padding: 1rem;
        
     }

     .add-cart{
        display: flex;
        flex-direction: column;
        gap: 1rem;

     }
}
