
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headerRight .hicon {
    display: inline-block;
    padding: 6px 4px;
    margin: 0 4px;
    font-size: 22px;
}

/* Div Componet Topbar*/
.topbar[data-v-3ee02bb2] {
    background: #e11b23;
    padding: 0;
}

@media (min-width: 1200px){
.count {
    padding-right: 15px;
    padding-left: 15px;
    width: 1140px;
    max-width: 100%;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}
}
@media (min-width: 992px){
.count {
    padding-right: 15px;
    padding-left: 15px;
    width: 960px;
    max-width: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
}

@media (min-width: 768px){
.count {
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
    max-width: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
}

@media (min-width: 576px){
.count {
    padding-right: 15px;
    padding-left: 15px;
    width: 540px;
    max-width: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

}

.count, .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
   
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.topheader68[data-v-3ee02bb2] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-around;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 50px;
}

.top_nav55[data-v-3ee02bb2] {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
   
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: disc;
}

.top_nav55 li[data-v-3ee02bb2]:first-child {
    border-left: 1px solid #525050;
}

.top_nav55 li[data-v-3ee02bb2] {
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    border-right: 1px solid #525050;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    
}

#topbar .router-link-active[data-v-3ee02bb2] {
    color: #fff;
}

a.router-link-exact-active .router-link-active a.activeCat[data-v-3ee02bb2]:not(.headercart) {
    color: #ed2d2f;
   
}

.top_nav55 li.activeCat a[data-v-3ee02bb2]{
    background-color: #fff;
    color: #58595b!important;
}

 header a.active, .activecate {
    background-color: #fff !important;
    color: #58595b!important;

}

.top_nav55 li a[data-v-3ee02bb2] {
    display: block;
    padding: 12px 20px;
    background: #ed2d2f;
    color: #fff;
    font-family: futura-pt,sans-serif;
    font-weight: 900;
    font-size: .875rem;
    text-transform: uppercase;
    width: 112px;
    text-align: center;
}

.topbar a[data-v-3ee02bb2], .topbar span[data-v-3ee02bb2] {
    color: #fff;
    padding-left: 15px;
    font-size: 13px;
    text-decoration: none;
}

a {
    color: inherit;
}

a, a:hover, a:focus {
    text-decoration: none;
}

[role=button], a{
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: #0275d8;
   
}

.btn:focus, .btn:hover, a {
    text-decoration: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: rgb(39, 36, 36);
}

.topbar a[data-v-3ee02bb2],
 .topbar span[data-v-3ee02bb2] {
    color: #fff;
    padding-left: 15px;
    font-size: 13px;
}

.pointer, button {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.text-uppercase {
    text-transform: uppercase!important;
}

.topbar a[data-v-3ee02bb2], .topbar span[data-v-3ee02bb2] {
    color: #fff;
    padding-left: 15px;
    font-size: 13px;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.align-items-center {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.d-inline-flex {
    display: -webkit-inline-box!important;
    display: -webkit-inline-flex!important;
    display: -ms-inline-flexbox!important;
    display: inline-flex!important;
}

.top_rightnav66{
    display: flex;
   
}

/* Now creation Componet */



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

.sole{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    /* font-size: 1.2rem; */
}

li:hover{
    opacity: 0.8;
    color: #333;
 
}



.navigation-2{
    border-bottom: 1ps solid;
    background-color: rgb(248, 246, 246);
    color: #333;
    display: flex;
    justify-content: space-around;
     position: sticky;
    top: 0;
    width: 100%;
    
    z-index: 5;
    box-shadow:  rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;;


}


 #logo-img-div {
   
    padding:2rem;
    width:150px;
    position: relative;
    margin-top: -4%;
    box-sizing: border-box;
    right:0;

} 

#logo-img-div img{
    border-radius: 40%;
    height: 100%; 
    z-index: 1;
    width: 110px;
    cursor: pointer;
    position: absolute;
    margin-right:10;
  
   
}

.btn{
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-decoration: none;

     
}
.btn:hover{
    color: #da0a0d;
  

}

 .dropdown-item:hover{
    color: #da0a0d;
 }
   

.drop-item{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}



 .dropdown ul li{
    text-decoration: none;
}


 .cart-count {
    position: absolute;
    height: 24px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    margin: -0.2% 1%;
    padding: 0.1rem;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    background-color: red;
    display: none;
}

.goNsGa{
    position: relative;
    top: 9%;
    left: 0;
    transform: translateY(-50%);
    /* margin-top: 10px; */
}



.hoFBBP {
    background-color: rgb(235, 20, 20);
    font-size: 0.7rem;
    color: white;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
}

.search-input {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #a7a9ac;
    display: flex;
    align-items: center;
    z-index: 5;
    

  }

.searchinput {
    margin-right: 10px; 
    outline: none;
    height: 2rem;
    
    /* Adjust the margin to create space between the search input and the microphone icon */
  }

input[type=search] {
    outline-offset: -2px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    text-align: left;
    margin-right: 2px;
    padding-left: 10px;
    

}

.mic-icon-mobile {
   
    font-size: 1.2rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    vertical-align: center;

    /* cursor: pointer; */
}

.mic-icon-mobile:hover{
    color: #da0a0d;
}

.header .searchbutton {
   
    cursor: pointer;
    margin-right: 10px; 
    font-size: 1.3rem;
   
}

 .user-Sign-symbol{
    cursor: pointer;
    font-size: 1.3rem;
 }

.searchbutton:hover,.user-Sign-symbol:hover{
    color: #da0a0d;
   
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.bar-side{
    display: none;
}


@media screen and (max-width:500px) {
    .top_nav55{
        display:block;
        width: 100%;
      
 }

 .top_rightnav66{
    display: none;
 }
   
    .navigation-2 > div{
        float: none;
        display: block;
    }

    

    #logo-img-div img{
        border-radius: 40%;
        height: 100%; 
        z-index: 1;
        width: 100%;
        cursor: pointer;
        position: relative;
        /* margin:px;
        padding: 5px; */
        
      
    }

    .drop-item  div{
        float: none;
        text-align: left;
        justify-content: left;
     
         display: none;
        
   }
   
    .bar-side{
        display: block;
        border: 1px solid;
        border-radius: 0.5rem;
        align-items: center;
        color: #0f0f0f;
        justify-content: center;
      

    }
  
    .search-input-icons{
       display: none;
      
    }

    .navigation-2{
        border-bottom: 1px solid;
        background-color: rgb(248, 246, 246);
        color: #333;
        display: flex;
        justify-content: space-around;
         position: sticky;
        top: 0;
        width: 100%;
        
        z-index: 5;
        box-shadow:  rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;;
    
    
    }
}
