.men-collection-heading{
    text-align:center;
    font-weight:bolder;
    font-size: 1.8rem;
    margin: 1rem 0;
    color:rgb(19, 18, 18)


}

.men-collection-heading:hover{
    color: rgb(219, 22, 22);
    
}

#men-collection-card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

}


.card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    padding: 10px;
    background: #f2f2f2;
}

.card-container,.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* background: white; */
    padding: 10px;
    /* border: 1px solid gainsboro; */
    border-radius: 15px;
}

.man-collection-img-card img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display:flex;
    flex-direction: column;

}

.man-collection-img-card img:hover {
    animation: modal-animation 0.5s ease-in-out forwards;
    transform: translateY(-3px);
    cursor: pointer;
}

@keyframes modal-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.8
    }
}

/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    /* grid-template-columns: repeat(1, 1fr); 
    gap: 5px;
    padding: 1.2em;
    background: #000000;
    padding: 15px;
} */