

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    background: #243358;
    box-shadow: 3px 2px 5px gainsboro;
    color: white;
    transition: transform .3s linear;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

.button:hover{
    transform: translateY(-3px);
}



.product-img-div img{
    width: 100%;
    height: 100%;
    /* display: block; */
 
}


h4{
    font-weight: bold;
    font-size: 1.4rem;

}

h4:hover{
    color: #a25255;
}
