
.product-card {
    display: grid;
    grid-template-columns: repeat(1,3fr);
    /* gap: 1rem; */
    /* align-items: center;
    justify-content: center; */
}

.favorite-component{
    gap:2rem;
    align-items: center;
     justify-content: center;

}

/* .container {
    margin: 100px auto;
    

} */

.card {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.favorite-product img{
    width:100%;

}

/* .btn-product{
    gap: 2rem;
    justify-content: space-evenly;
} */

.favorite-para{
    font-weight: 700;
   font-size: 2rem;
}

/* .add-to-wishlist{
    justify-content: left;
    gap: 1rem;
} */

/* .button{
    gap: 1rem;
} */

/* .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    cursor: pointer;
  }

   .overlay{
    width: 100%;
  } */

  /* .text {
    color: rgb(20, 20, 20);
    font-size: 1.3rem;
    position: absolute;
    top: 5%;
    left: 80%;
    border-radius: 50%;
    width: 20%;
    background-color: rgb(151, 142, 142);
    background-size: cover;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  } */


  .closeIcon{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 92;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    cursor: pointer;
    color:#fff;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .pb-2 {
    padding-bottom: 0.5rem!important;
}

.pr-1 {
    padding-right: 0.15rem!important;
}

/* .CloseIcon:before {
    font: 14px/1.5 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\F08A";
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
 .closebtun{
    right: 15px;
    /* z-index:2; */
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.2);
    border-radius: 100%;
    width: 10%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);


 }

 .add-to-cart{
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid red;
    width: 150px;
   line-height: 2.5rem;
    cursor:pointer;
    color:#222020;
    background-color: #e28a8a;
    margin-bottom: 10px;
    border-radius: 2rem;
 
 }

  